body {
    background: #f2f2f2;
    font-family: Tahoma;
    margin: 0;
    padding: 0;
    direction: rtl;
}

header {
    background: #111;
    padding: 15px;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#cart-btn {
    background: #0d9f00;
    color: #fff;
    border: none;
    padding: 10px 18px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

#products {
    padding: 15px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    gap: 15px;
}

.product {
    background: #fff;
    padding: 12px;
    border-radius: 8px;
    box-shadow: 0 0 5px #aaa;
}

.product img {
    width: 100%;
    height: 220px;
    object-fit: cover;
    border-radius: 6px;
}

.product h3 {
    margin: 8px 0 5px;
}

.product .btn {
    background: #0d6efd;
    color: #fff;
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}
